In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
 .appName("EmployeeDataAnalysis") \
 .getOrCreate()

In [0]:
df = spark.read.option("header", True).option("inferSchema", True).csv("/Volumes/workspace/default/sample/employees1.csv")
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|
+-----------+----------+---------+--------+------------+---------+----------+------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|    AC_MGR| 12008|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|
+-----------+----------+---------+--------+------------+---------+----------+------+
only showing top 20 rows

In [0]:
df.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)

In [0]:
df.groupBy("EMPLOYEE_ID").avg("SALARY").show()

+-----------+-----------+
|EMPLOYEE_ID|avg(SALARY)|
+-----------+-----------+
|        108|    12008.0|
|        131|     2500.0|
|        102|    17000.0|
|        130|     2800.0|
|        136|     2200.0|
|        120|     8000.0|
|        118|     2600.0|
|        121|     8200.0|
|        109|     9000.0|
|        133|     3300.0|
|        132|     2100.0|
|        199|     2600.0|
|        115|     3100.0|
|        127|     2400.0|
|        204|    10000.0|
|        107|     4200.0|
|        140|     2500.0|
|        110|     8200.0|
|        198|     2600.0|
|        111|     7700.0|
+-----------+-----------+
only showing top 20 rows

In [0]:
df = df.withColumn("SALARY", df["Salary"] * 0.10)
display(df)

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY
198,Donald,OConnell,DOCONNEL,650.507.9833,21-Jun-07,SH_CLERK,260.0
199,Douglas,Grant,DGRANT,650.507.9844,13-Jan-08,SH_CLERK,260.0
200,Jennifer,Whalen,JWHALEN,515.123.4444,17-Sep-03,AD_ASST,440.0
201,Michael,Hartstein,MHARTSTE,515.123.5555,17-Feb-04,MK_MAN,1300.0
202,Pat,Fay,PFAY,603.123.6666,17-Aug-05,MK_REP,600.0
203,Susan,Mavris,SMAVRIS,515.123.7777,07-Jun-02,HR_REP,650.0
204,Hermann,Baer,HBAER,515.123.8888,07-Jun-02,PR_REP,1000.0
205,Shelley,Higgins,SHIGGINS,515.123.8080,07-Jun-02,AC_MGR,1200.8
206,William,Gietz,WGIETZ,515.123.8181,07-Jun-02,AC_ACCOUNT,830.0
100,Steven,King,SKING,515.123.4567,17-Jun-03,AD_PRES,2400.0
101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-Sep-05,AD_VP,1700.0
102,Lex,De Haan,LDEHAAN,515.123.4569,13-Jan-01,AD_VP,1700.0
103,Alexander,Hunold,AHUNOLD,590.423.4567,03-Jan-06,IT_PROG,900.0
104,Bruce,Ernst,BERNST,590.423.4568,21-May-07,IT_PROG,600.0
105,David,Austin,DAUSTIN,590.423.4569,25-Jun-05,IT_PROG,480.0
106,Valli,Pataballa,VPATABAL,590.423.4560,05-Feb-06,IT_PROG,480.0
107,Diana,Lorentz,DLORENTZ,590.423.5567,07-Feb-07,IT_PROG,420.0
108,Nancy,Greenberg,NGREENBE,515.124.4569,17-Aug-02,FI_MGR,1200.8
109,Daniel,Faviet,DFAVIET,515.124.4169,16-Aug-02,FI_ACCOUNT,900.0
110,John,Chen,JCHEN,515.124.4269,28-Sep-05,FI_ACCOUNT,820.0
111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-Sep-05,FI_ACCOUNT,770.0
112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-Mar-06,FI_ACCOUNT,780.0
113,Luis,Popp,LPOPP,515.124.4567,07-Dec-07,FI_ACCOUNT,690.0
114,Den,Raphaely,DRAPHEAL,515.127.4561,07-Dec-02,PU_MAN,1100.0
115,Alexander,Khoo,AKHOO,515.127.4562,18-May-03,PU_CLERK,310.0
116,Shelli,Baida,SBAIDA,515.127.4563,24-Dec-05,PU_CLERK,290.0
117,Sigal,Tobias,STOBIAS,515.127.4564,24-Jul-05,PU_CLERK,280.0
118,Guy,Himuro,GHIMURO,515.127.4565,15-Nov-06,PU_CLERK,260.0
119,Karen,Colmenares,KCOLMENA,515.127.4566,10-Aug-07,PU_CLERK,250.0
120,Matthew,Weiss,MWEISS,650.123.1234,18-Jul-04,ST_MAN,800.0
121,Adam,Fripp,AFRIPP,650.123.2234,10-Apr-05,ST_MAN,820.0
122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-May-03,ST_MAN,790.0
123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-Oct-05,ST_MAN,650.0
124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-Nov-07,ST_MAN,580.0
125,Julia,Nayer,JNAYER,650.124.1214,16-Jul-05,ST_CLERK,320.0
126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-Sep-06,ST_CLERK,270.0
127,James,Landry,JLANDRY,650.124.1334,14-Jan-07,ST_CLERK,240.0
128,Steven,Markle,SMARKLE,650.124.1434,08-Mar-08,ST_CLERK,220.0
129,Laura,Bissot,LBISSOT,650.124.5234,20-Aug-05,ST_CLERK,330.0
130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-Oct-05,ST_CLERK,280.0
131,James,Marlow,JAMRLOW,650.124.7234,16-Feb-05,ST_CLERK,250.0
132,TJ,Olson,TJOLSON,650.124.8234,10-Apr-07,ST_CLERK,210.0
133,Jason,Mallin,JMALLIN,650.127.1934,14-Jun-04,ST_CLERK,330.0
134,Michael,Rogers,MROGERS,650.127.1834,26-Aug-06,ST_CLERK,290.0
135,Ki,Gee,KGEE,650.127.1734,12-Dec-07,ST_CLERK,240.0
136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-Feb-08,ST_CLERK,220.0
137,Renske,Ladwig,RLADWIG,650.121.1234,14-Jul-03,ST_CLERK,360.0
138,Stephen,Stiles,SSTILES,650.121.2034,26-Oct-05,ST_CLERK,320.0
139,John,Seo,JSEO,650.121.2019,12-Feb-06,ST_CLERK,270.0
140,Joshua,Patel,JPATEL,650.121.1834,06-Apr-06,ST_CLERK,250.0

In [0]:
df.filter(df['SALARY'] > 7000).show()

+-----------+----------+---------+-----+------------+---------+------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|
+-----------+----------+---------+-----+------------+---------+------+------+
+-----------+----------+---------+-----+------------+---------+------+------+

In [0]:
df.groupBy("JOB_ID").avg("SALARY").display()

JOB_ID,avg(SALARY)
PU_CLERK,278.0
PU_MAN,1100.0
AD_VP,1700.0
AC_MGR,1200.8
AD_PRES,2400.0
ST_MAN,728.0
IT_PROG,576.0
HR_REP,650.0
FI_ACCOUNT,792.0
AD_ASST,440.0
PR_REP,1000.0
MK_REP,600.0
AC_ACCOUNT,830.0
FI_MGR,1200.8
MK_MAN,1300.0
ST_CLERK,275.0
SH_CLERK,260.0