In [1]:
import pandas as pd

In [2]:
movie_info = pd.read_csv('Movie Interests.csv')

In [3]:
movie_info

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [4]:
input_dataset = movie_info.drop(columns = ['Interest'])

In [5]:
output_dataset = movie_info[['Interest']]

In [6]:
output_dataset

     Interest
0   Animation
1   Animation
2   Animation
3      Action
4      Action
5      Action
6       Drama
7       Drama
8       Drama
9   Animation
10  Animation
11  Animation
12     Action
13     Action
14     Action
15      Drama
16      Drama
17      Drama

In [7]:
from sklearn.tree import DecisionTreeClassifier
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset, output_dataset)
movie_interest = movie_model.predict([[9,1],[33,0]])

c:\Users\senth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [8]:
movie_interest

array(['Animation', 'Drama'], dtype=object)

In [9]:
from sklearn.ensemble import RandomForestClassifier
movie_model2 = RandomForestClassifier()
movie_model2.fit(input_dataset,output_dataset)
movie_interest2 = movie_model2.predict([[9,1],[33,0]])

c:\Users\senth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
c:\Users\senth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [10]:
movie_interest2

array(['Animation', 'Drama'], dtype=object)

In [11]:
import pickle
pickle.dump(movie_model, open('movie_model.pkl', 'wb'))

In [12]:
model1 = pickle.load(open('movie_model.pkl', 'rb'))
print(model1.predict([[9,1],[33,0]]))

c:\Users\senth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

['Animation' 'Drama']